.row
  display: flex
  align-items: flex-start 
  justify-content: space-between
  padding: 2rem
  position: absolute
.col
  flex-basis: 32%

.card

  &__text
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
    padding: 1.78rem 2.21rem
    width: 23.57rem
    margin: 0 auto
    margin-top: -8rem
    position: relative
  &__title
    font-family: 'Yeseva One'
    font-size: 1.285rem
    font-weight: normal
  &__list
    font-size: 1.07rem
    color: $secondary
    line-height: 1.8rem
    margin: 0
    padding: 1rem
